@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
.logo {
  width: 143px;
  height: 25px;
}

.content--center {
  justify-content: center;
}

.icon-menu {
  cursor: pointer;
  display: none;
  width: 23px;
  height: 20px;
}
@media (max-width: 768px) {
  .icon-menu {
    display: block;
  }
}
.icon-menu span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background-color: #fff;
}

.subtitle {
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 768px) {
  .menu__body {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 3.4rem;
}
.menu__link {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #d87d4a;
}

.cart {
  cursor: pointer;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.social__link svg {
  fill: #ffffff;
}
.social__link:hover svg {
  fill: #d87d4a;
}

.btn {
  font-size: 1.3rem;
  line-height: 138%;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 2.95rem 1.5rem 3.1rem;
  color: #000000;
}
.btn--primary {
  color: #ffffff;
  background-color: #d87d4a;
}
.btn--primary:hover {
  background-color: #fbaf85;
}
.btn--outline {
  border: 1px solid #000000;
}
.btn--outline:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-text {
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 138%;
  letter-spacing: 1px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.btn-text--with-arrow::before {
  position: absolute;
  top: 27%;
  right: -13px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-top: 2px solid #d87d4a;
  border-right: 2px solid #d87d4a;
}
.btn-text--with-arrow:hover {
  color: #d87d4a;
}
.btn-text--with-arrow:hover::before {
  right: -18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 5.6rem;
  line-height: 104%;
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: 1.42857px;
}

h3 {
  font-size: 3.2rem;
  line-height: 112%;
  letter-spacing: 1.14286px;
}

h4 {
  font-size: 2.8rem;
  line-height: 135%;
  letter-spacing: 2px;
}

h5 {
  font-size: 2.4rem;
  line-height: 137%;
  letter-spacing: 1.71429px;
}

h6 {
  font-size: 1.8rem;
  line-height: 138%;
  letter-spacing: 1.28571px;
}

p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 167%;
}

@media (max-width: 425px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.8rem;
  }
}
.input--default {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}

input[type=number] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

:root {
  font-size: 10px;
  font-family: "Manrope", sans-serif;
  color: #000000;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header--relative {
  position: relative;
  background-color: #000000;
}
.header-container {
  padding: 3.5rem 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .header-container {
    justify-content: stretch;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .header-container .logo {
    margin-left: auto;
  }
  .header-container .cart {
    margin-left: auto;
  }
}
@media (max-width: 540px) {
  .header-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .menu__body {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 3.4rem;
}
.menu__link {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #d87d4a;
}

.cart {
  cursor: pointer;
}

.footer {
  position: relative;
  padding: 75px 0px 48px 0px;
  background-color: #000000;
}
.footer__container {
  color: #ffffff;
}
.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 3.6rem 0px;
}
@media (max-width: 768px) {
  .footer__menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    row-gap: 32px;
  }
}
@media (max-width: 450px) {
  .footer__menu {
    align-items: center;
  }
}
.footer__menu-list {
  display: flex;
  align-items: center;
  column-gap: 3.4rem;
  row-gap: 1.6rem;
}
@media (max-width: 450px) {
  .footer__menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__link {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
}
.footer__link:hover {
  color: #d87d4a;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 5.6rem 0px;
}
.footer__text {
  flex-basis: 540px;
  opacity: 0.5;
}
.footer__social {
  align-self: flex-end;
}
@media (max-width: 768px) {
  .footer__social {
    position: absolute;
    bottom: 46px;
    right: 40px;
  }
}
@media (max-width: 375px) {
  .footer__social {
    bottom: -30px;
    right: 35%;
    padding-bottom: 3.8rem;
  }
}
.footer__copyright {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  opacity: 0.5;
}
@media (max-width: 375px) {
  .footer__copyright {
    margin-bottom: 4.8rem;
  }
}

.banner-block {
  background-color: #191919;
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: 40% 0%;
  height: 729px;
  padding-top: 215px;
}
@media (max-width: 768px) {
  .banner-block {
    background-image: url("../images/tablet/image-header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 425px) {
  .banner-block {
    background-image: url("../images/mobile/image-header.jpg");
  }
}
.banner-block--no-background {
  background: none;
  background-color: #000;
  height: 400px;
}
.banner-block__container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .banner-block__container {
    justify-content: center;
    text-align: center;
  }
}
.banner-block__content {
  color: #ffffff;
  flex-basis: 35.6756756757%;
}
.banner-block__title {
  margin: 2.4rem 0px;
}
.banner-block__text {
  margin: 0px 0px 4rem 0px;
}
.category__container {
  padding: 120px 0px 168px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px 30px;
}
.category__item {
  position: relative;
  background-color: #f1f1f1;
  text-align: center;
  flex-basis: 350px;
  border-radius: 8px;
  padding: 116px 0px 30px 0px;
}
.category__image {
  top: -23%;
  left: 33%;
  position: absolute;
}
.category__image img {
  max-width: 100%;
}
.special-offers {
  margin-bottom: 200px;
}
.special-offers__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 560px 320px 320px;
  gap: 48px 30px;
}
@media (max-width: 768px) {
  .special-offers__container {
    grid-template-rows: 720px 320px 320px;
  }
}
@media (max-width: 600px) {
  .special-offers__container {
    grid-template-columns: 1fr;
    grid-template-rows: 600px 320px 200px 200px;
  }
}
.special-offers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.special-offers__item:nth-child(2) {
  grid-column: 1/4;
  justify-content: flex-start;
  padding-left: 9.5rem;
  background: url("/images/desktop/image-speaker-zx7.jpg") no-repeat center;
}
@media (max-width: 768px) {
  .special-offers__item:nth-child(2) {
    background: url("/images/tablet/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.special-offers__item:nth-child(3) {
  display: block;
}
.special-offers__item:nth-child(3) img {
  width: auto;
  height: 100%;
}
.special-offers__item:last-child {
  background-color: #f1f1f1;
}
.special-offers__item--header {
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 5.6rem;
  line-height: 5.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d87d4a;
  background-image: url("/images/desktop/image-speaker-zx9.png");
  background-size: 410px 493px;
  background-repeat: no-repeat;
  background-position: 20% 120%;
  padding-right: 95px;
}
.special-offers__item--header p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
  margin-top: 24px;
  margin-bottom: 40px;
  text-transform: initial;
}
.special-offers__item--header .special-offers__content {
  flex-basis: 349px;
}
@media (max-width: 768px) {
  .special-offers__item--header {
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding-right: 0;
    padding-bottom: 6.4rem;
    background-image: url("/images/tablet/image-speaker-zx9.png");
    background-size: 197px 237px;
    background-position: 50% 18%;
  }
}
.special-offers__title {
  margin-bottom: 3.2rem;
}
.overview__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1rem 9.6rem 1rem;
}
@media (max-width: 768px) {
  .overview__container {
    flex-direction: column-reverse;
    padding: 0px 4rem 9.6rem 4rem;
    row-gap: 6.3rem;
    text-align: center;
  }
}
.overview__content {
  flex-basis: 445px;
}
@media (max-width: 768px) {
  .overview__content {
    flex-basis: auto;
  }
}
.overview__title {
  margin: 0px 0px 3.2rem 0px;
}
.overview__title span {
  color: #d87d4a;
}
.overview__text {
  opacity: 0.5;
}
.products__container {
  display: flex;
  flex-direction: column;
  row-gap: 160px;
  padding: 160px 0px;
}
.products__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 5.2rem;
  column-gap: 2rem;
}
@media (max-width: 768px) {
  .products__item {
    flex-direction: column;
    justify-content: center;
  }
}
.products__item:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .products__item:nth-child(even) {
    flex-direction: column;
    justify-content: center;
  }
}
.products__item-image {
  flex-grow: 0;
  max-width: 540px;
}
.products__content {
  flex-basis: 445px;
}
.products__content__subtitle {
  color: #d87d4a;
}
@media (max-width: 768px) {
  .products__content {
    flex-basis: auto;
    text-align: center;
    padding: 0px 5rem;
  }
}
.products__title {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}
.products__text {
  margin-bottom: 4rem;
}

.back-link {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  opacity: 0.5;
  display: block;
  position: absolute;
  top: 7.9rem;
}

.checkout-page__container {
  position: relative;
  padding: 14.7rem 3.9rem;
  display: flex;
  column-gap: 30px;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .checkout-page__container {
    display: block;
    padding: 9.7rem 3.9rem;
  }
  .checkout-page__container .back-link {
    top: 5rem;
  }
}

.checkout {
  border-radius: 8px;
  padding: 5rem 4.8rem;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .checkout {
    margin-bottom: 3.2rem;
    padding: 2rem 2.8rem;
  }
}
@media (max-width: 560px) {
  .checkout {
    margin-bottom: 2.2rem;
    padding: 2rem 1rem;
  }
}
.checkout__title {
  margin-bottom: 4.1rem;
}
.checkout__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5.3rem;
}
.checkout__form fieldset {
  border: none;
}
.checkout__form fieldset legend {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.93px;
  text-transform: uppercase;
  color: #d87d4a;
}
.checkout #building-details,
.checkout #shipping-info,
.checkout #payment-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 310px));
  gap: 24px 16px;
}
@media (max-width: 560px) {
  .checkout #building-details,
.checkout #shipping-info,
.checkout #payment-details {
    grid-template-columns: minmax(200px, 310px);
  }
}
.checkout #shipping-info .checkout__input:nth-child(2) {
  grid-column: 1/4;
}
@media (max-width: 560px) {
  .checkout #shipping-info .checkout__input:nth-child(2) {
    grid-column: 1/2;
  }
}
.checkout #payment-details label {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkout__radio {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.checkout__radio label {
  display: flex;
  align-items: center;
  border: 1px solid #101010;
  padding: 18px 0px;
  border-radius: 8px;
}
.checkout__radio label span {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
}
.checkout__input label {
  margin-bottom: 10px;
}

.summary {
  background-color: #ffffff;
  border-radius: 8px;
  flex-basis: 30.701754386%;
  padding: 3.2rem 3.3rem;
}
.summary__cart {
  margin: 3rem 0rem;
}

.cart-block__item {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 1.6rem;
}
.cart-block__item .cart-block__item__count {
  margin-left: auto;
  margin-right: 3.3rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  opacity: 0.5;
}

.cart-block__item__title {
  margin: 0 0 1rem 0;
}

.summary__info {
  margin-bottom: 3.2rem;
}
.summary__btn {
  width: 100%;
}

.info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.info div span {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.info__total {
  color: rgba(0, 0, 0, 0.5);
}
.info__total span {
  color: black;
}
.info__shipping {
  color: rgba(0, 0, 0, 0.5);
}
.info__shipping span {
  color: black;
}
.info__vat {
  color: rgba(0, 0, 0, 0.5);
}
.info__vat span {
  color: black;
}
.info__grand-total {
  margin-top: 3.2rem;
}
.info__grand-total span {
  color: #d87d4a;
}

.wrapper {
  background-color: #ffffff;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
.main--grey {
  background-color: #f1f1f1;
}