.input--default {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
}
label {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;

  color: #000000;
}

input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  display: none;
}
