// Logo
.logo {
  width: 143px;
  height: 25px;
}
.hidden {
  display: none;
}
.content--center {
  justify-content: center;
}

// Icon menu (burger)
.icon-menu {
  cursor: pointer;
  display: none;
  width: 23px;
  height: 20px;

  @media (max-width: 768px) {
    display: block;
  }
  span {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff;
  }
}

// Container
.subtitle {
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: $whiteColor;
  opacity: 0.5;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}
// menu

.menu {
  // .menu__icon

  &__icon {
    @media (max-width: 768px) {
    }
  }

  // .menu__body

  &__body {
    @media (max-width: 768px) {
      display: none;
    }
  }

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 3.4rem;
  }

  // .menu__link

  &__link {
    color: $whiteColor;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
    &:hover {
      color: $primaryColor;
    }
  }
}
// social
.social {
  // .social__link
  display: flex;
  align-items: center;
  column-gap: 16px;

  &__link {
    svg {
      fill: $whiteColor;
    }
    &:hover {
      svg {
        fill: $primaryColor;
      }
    }
  }
}

.cart {
  cursor: pointer;
  position: relative;
  //  .cart__count
  &__count {
    position: absolute;
    top: -10px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $primaryColor;

    font-size: 1.3rem;
    font-weight: bold;
    z-index: 1;
  }
}
