// Logo
.logo {
  width: 143px;
  height: 25px;
}
.hidden {
  display: none;
}
.content--center {
  justify-content: center;
}

// Icon menu (burger)
.icon-menu {
  position: relative;
  cursor: pointer;
  display: none;
  width: 23px;
  height: 20px;
  z-index: 50;
  @media (max-width: 768px) {
    display: block;
  }
  span {
    transition: all 0.8s ease 0s;
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff;
  }
  &.close-icon {
    span {
      position: absolute;

      transform: rotate(45deg);
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

// Container
.subtitle {
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: $whiteColor;
  opacity: 0.5;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}
// menu

.menu {
  // .menu__icon

  &__icon {
  }

  // .menu__body

  &__body {
    @media (max-width: 768px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $blackColorPrimary, $alpha: 0.9);
      padding-top: 10rem;
      z-index: 40;
      transition: top 0.5s ease 0s;
      &.active {
        top: 0;
      }
    }
  }

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 3.4rem;
    row-gap: 6.4rem;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  // .menu__link

  &__link {
    position: relative;
    color: $whiteColor;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
    &::after {
      position: absolute;
      bottom: -30%;
      left: 0%;
      content: '';
      display: block;
      width: 0%;
      height: 2px;
      background-color: $primaryColor;
      transition: width 0.3s ease 0s;
    }
    &:hover {
      color: $primaryColor;
      &::after {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }
}
// social
.social {
  // .social__link
  display: flex;
  align-items: center;
  column-gap: 16px;

  &__link {
    svg {
      fill: $whiteColor;
    }
    transition: transform 0.8s ease-in 0s;
    &:hover {
      svg {
        fill: $primaryColor;
      }

      transform: rotate(360deg);
    }
  }
}

.cart {
  cursor: pointer;
  position: relative;
  //  .cart__count
  &__count {
    position: absolute;
    top: -10px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $primaryColor;
    color: $whiteColor;
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 1;
  }
}
