// HEADER
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // .header__menu

  &__menu {
  }
}
.header-container {
  padding: 3.5rem 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  @media (max-width: 768px) {
    justify-content: stretch;
    padding-left: 4rem;
    padding-right: 4rem;
    .logo {
      margin-left: auto;
    }
    .cart {
      margin-left: auto;
    }
  }
  @media (max-width: 540px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.menu {
  // .menu__icon

  &__icon {
    @media (max-width: 768px) {
    }
  }

  // .menu__body

  &__body {
    @media (max-width: 768px) {
      display: none;
    }
  }

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 3.4rem;
  }

  // .menu__link

  &__link {
    color: $whiteColor;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
    &:hover {
      color: $primaryColor;
    }
  }
}

.cart {
  cursor: pointer;
}
