@import '_variables';
@import '_ui';
@import '_buttons';
@import '_typography';
@import '_form';
:root {
  font-size: 10px;
  font-family: 'Manrope', sans-serif;
  color: $blackColorPrimary;
}

// HEADER
@import 'layout/_header.scss';
//Footer
@import 'layout/_footer.scss';

//Home
@import 'pages/_home.scss';

//Category page
@import 'pages/category.scss';

// Checkout Page
@import 'pages/_checkout.scss';

// Details Page
@import 'pages/details.scss';
.wrapper {
  background-color: $whiteColor;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
  &--grey {
    background-color: $whiteColor2;
  }
}
