//Banner Block

.banner-block {
  // .banner-block__container
  background-color: #191919;
  background-image: url('../images/desktop/image-hero.jpg');
  background-position: 40% 0%;
  height: 729px;
  padding-top: 90px + 125px;
  @media (max-width: 768px) {
    background-image: url('../images/tablet/image-header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width: 425px) {
    background-image: url('../images/mobile/image-header.jpg');
  }
  &--no-background {
    background: none;
    background-color: #000;
    height: 400px;
  }
  &__container {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      justify-content: center;
      text-align: center;
    }
  }

  // .banner-block__content

  &__content {
    color: $whiteColor;
    flex-basis: 396px / 1110px * 100%;
  }

  // .banner-block__subtitle

  &__subtitle {
  }

  // .banner-block__title

  &__title {
    margin: 2.4rem 0px;
  }

  // .banner-block__text

  &__text {
    margin: 0px 0px 4rem 0px;
  }

  // .banner-block__btn

  &__btn {
  }
}

// Category
.category {
  // .category__container

  &__container {
    padding: 120px 0px 168px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px 30px;
  }

  // .category__item

  &__item {
    position: relative;
    background-color: $whiteColor2;
    text-align: center;
    flex-basis: 350px;
    border-radius: 8px;
    padding: 116px 0px 30px 0px;
  }

  // .category__image

  &__image {
    top: -23%;
    left: 33%;
    position: absolute;
    img {
      max-width: 100%;
    }
  }

  // .category__title

  &__title {
  }

  // .category__btn

  &__btn {
  }
}

// Special Offers
.special-offers {
  // .special-offers__container
  margin-bottom: 200px;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 540px 320px 320px;
    gap: 48px 30px;
    grid-template-areas:
      'area-1 area-1'
      'area-2 area-2'
      'area-3 area-4';
    @media (max-width: 768px) {
      grid-template-rows: 720px 320px 320px;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: 600px 320px 200px 200px;
      grid-template-areas:
        'area-1 area-1'
        'area-2 area-2'
        'area-3 area-3'
        'area-4 area-4';
    }
  }

  // .special-offers__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    &:nth-child(1) {
      grid-area: area-1;
    }
    &:nth-child(2) {
      grid-area: area-2;
      justify-content: flex-start;
      padding-left: 9.5rem;
      background: url('/images/desktop/image-speaker-zx7.jpg') no-repeat center;
      @media (max-width: 768px) {
        background: url('/images/tablet/image-speaker-zx7.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      @media (max-width: 540px) {
        padding-left: 1rem;
        background: url('/images/mobile/image-speaker-zx7.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &:nth-child(3) {
      grid-area: area-3;
      display: block;
      border-radius: 8px;
      overflow: hidden;
      @media (max-width: 600px) {
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &:last-child {
      grid-area: area-4;
      background-color: #f1f1f1;
    }
  }

  // .special-offers__content
  &__content {
  }
  // .special-offers__item--header

  &__item--header {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 5.6rem;
    line-height: 5.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $primaryColor;
    background-image: url('/images/desktop/image-speaker-zx9.png');
    background-size: 410px 493px;
    background-repeat: no-repeat;
    background-position: 20% 120%;
    padding-right: 95px;
    p {
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      opacity: 0.75;
      margin-top: 24px;
      margin-bottom: 40px;
      text-transform: initial;
    }
    .special-offers__content {
      flex-basis: 349px;
    }
    @media (max-width: 768px) {
      align-items: flex-end;
      justify-content: center;
      text-align: center;
      padding-right: 0;
      padding-bottom: 6.4rem;
      background-image: url('/images/tablet/image-speaker-zx9.png');
      background-size: 197px 237px;
      background-position: 50% 18%;
    }
  }

  // .special-offers__title

  &__title {
    margin-bottom: 3.2rem;
  }

  // .special-offers__text

  &__text {
  }

  // .special-offers__btn

  &__btn {
  }
}

// Overview

.overview {
  // .overview__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem 9.6rem 1rem;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      padding: 0px 4rem 9.6rem 4rem;
      row-gap: 6.3rem;
      text-align: center;
    }
  }

  // .overview__content

  &__content {
    flex-basis: 445px;
    @media (max-width: 768px) {
      flex-basis: auto;
    }
  }

  // .overview__title

  &__title {
    margin: 0px 0px 3.2rem 0px;
    span {
      color: $primaryColor;
    }
  }

  // .overview__text

  &__text {
    opacity: 0.5;
  }

  // .overview__image

  &__image {
  }
}
