// Footer
.footer {
  position: relative;
  padding: 75px 0px 48px 0px;
  background-color: $blackColorPrimary;
  // .footer__container

  &__container {
    color: $whiteColor;
  }

  // .footer__menu

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 3.6rem 0px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: stretch;
      row-gap: 32px;
    }
    @media (max-width: 450px) {
      align-items: center;
    }
  }

  // .footer__menu-list

  &__menu-list {
    display: flex;
    align-items: center;
    column-gap: 3.4rem;
    row-gap: 1.6rem;
    @media (max-width: 450px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  // .footer__link

  &__link {
    position: relative;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
    &::after {
      position: absolute;
      bottom: -30%;
      left: 0%;
      content: '';
      display: block;
      width: 0%;
      height: 2px;
      background-color: $primaryColor;
      transition: width 0.3s ease 0s;
    }
    &:hover {
      color: $primaryColor;
      &::after {
        width: 100%;
      }
    }
  }

  // .footer__content

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 5.6rem 0px;
  }

  // .footer__text

  &__text {
    flex-basis: 540px;
    opacity: 0.5;
  }

  // .footer__social

  &__social {
    align-self: flex-end;
    @media (max-width: 768px) {
      position: absolute;
      bottom: 46px;
      right: 40px;
    }
    @media (max-width: 375px) {
      bottom: -30px;
      right: 35%;
      padding-bottom: 3.8rem;
    }
  }

  // .footer__copyright

  &__copyright {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #ffffff;
    opacity: 0.5;
    @media (max-width: 375px) {
      margin-bottom: 4.8rem;
    }
  }
}
